:root {
    --blue: #1be7ff;
    --green: #6eeb83;
    --yellow : #e4ff1a;
    --orange : #ffb800;
    --red : #ff5714;
  }

body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container--tools {
  width: 100%;
  flex: 20;    
  overflow-y: hidden;
  display: flex;
  cursor: pointer;
}

.container--main {
  width: 100%;
  flex: 80;
  overflow-y: hidden;
}

.container--tools .tool--timer {
  background-color: var(--blue);
  flex: 80;
}

.container--tools .tool--home {
  background-color: var(--orange);
  flex: 20;
}

.container--tools .tool--home a {
  width: 100%;  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--tools .tool--home a svg {
  width: 50%;  
  height: 50%;
}



