
.homeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}

.homeContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.homeContainer > div:nth-of-type(1) {
    background-color: var(--green);
    border-bottom: 4px solid black;
    border-right:  4px solid black;
}

.homeContainer > div:nth-of-type(2) {
    background-color: var(--red);
    border-bottom: 4px solid black;
    border-left:  4px solid black;
}

.homeContainer > div:nth-of-type(3) {
    background-color: var(--yellow);
    border-top: 4px solid black;
    border-right:  4px solid black;
}

.homeContainer > div:nth-of-type(4) {
    background-color: var(--orange);
    border-top: 4px solid black;
    border-left:  4px solid black;
}

